*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}


/* images  */
.huddle{
    width: 120px;
    height: 18px
}

.device{
    width: 80%;

}
